body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: 34px;
    color: #777;
    background: url("../images/Cherry-Blossoms-Vector.png");
}
  
* {
    box-sizing: border-box;
}

/*General*/

.container-fluid {
    width: 70%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}
  
h1, h2, h3, p {
    text-align: center;
    margin-bottom: 20px;
}
  
h1, h2, h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: #e48d8d;
}
  
h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
}
  
h2, h3 {
    font-size: 22px;
}

/*Header*/

#masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #fff;
    background: #e9abab;
    border-bottom: 2px solid #ccc;
}
  
#logo {
    float: left;
    width: 50%;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #e48d8d;
}
  
nav {
    float: right;
    margin-top: 25px;
}
  
nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: white;
    text-decoration: none;
    border-left: 1px solid #efefef;
}
  
nav a:first-child {
    border-left: 0 none;
}

.btn {
    background-color: #e48d8d;
    border-color: #e48d8d;
}

.btn:hover {
    color: white;
    background-color: #e6c6c6;
    border-color: #e48d8d;
}


/*Footer*/

footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: #e48d8d;
    border-top: 8px solid #e9abab;
}

/*Sidebar*/

.sidebar {
    float: right;
    width: 100%;
    max-width: 25%;
    padding: 30px;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 4px 4px 15px 2px #333333;
}
  
h3, .sidebar, h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eee;
}
  
.sidebar a {
      text-decoration: none;
}
  
.social {
    width: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;
}
  
.social:last-child {
    margin-right: 0;
}

/*Main Page*/

#main-container {
    padding-top: 130px;
}
  
.main-section {
    float: left;
    width: 100%;
    max-width: 70%;
    padding: 30px;
    margin: 0 0 40px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 4px 4px 15px 2px #333333;
}
  
#profilepic {
    width: 500;
    height: 500px;
    float: left;
    margin: 0px 20px 10px 0px
}

/* Portfolio */

.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 2;
    }
    @include media-breakpoint-only(xl) {
      column-count: 3;
    }
}


/*Image enlarges when cursor hovers over it*/
.card-img-top:hover {
    transform: scale(1.1);
}

/*Creates photo row and columns*/
.row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 50%;
    max-width: 270px;
    padding: 10px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
  

/*Image Label */

.label {
    position: absolute;
    bottom: 20px;
    left: 0px;
    right: 0p;
    height: 60px;
    line-height: 60px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.2em;
    background-color: rgb(196, 196, 196);
}

/*Resume*/


/* Set breakpoints at 980px, 768px, and 640px screen widths */

@media (min-width: 1200px) {

    .container-fluid {
        max-width: 70%;
    }
    
  
    .profilepic {
        float: none;
        width: fit-content;
        height: fit-content;
    }
  
    body { 
        margin: 0 auto; 
    }
      
    .portfolio{
      float: none;
      width: 100%;
    }    


}
  
@media only screen and (max-width: 979px) and (min-width: 768px) {
    .container-fluid {
      max-width: 100%;
    }
  
    body { 
        margin: 0 auto; 
    }
  
    .sidebar {
        max-width: 100%;
        float: left;
    }
  
    .main-section {
        max-width: 100%;
    }
  
    .profilepic {
        width: 50%;
    }
  
}

@media only screen and (max-width: 767px) and (min-width: 640px) {
    .container-fluid {
        max-width: 70%;
    }
  
    body {
        margin: 0 auto; 
    }
  
    .sidebar {
        max-width: 100%;
        float: left;
    }
  
    .main-section {
        max-width: 100%;

    }  
  
    .profilepic {
        width: 240px;
        height: 240px;
        float: left;
        margin: 0px 20px 10px 0px;
      }
}

@media only screen and (max-width: 639px) {
    .container-fluid{
      max-width: 70%;
    }

    .column {
        flex: 100%;
        max-width: 100%;
    }
      
    .sidebar {
        max-width: 100%;
        float: left;
    }
  
    .main-section {
        max-width: 100%;
    } 
  
    #logo {
        width: 100%;
        height: 50px;
        font-size: 24px;
        line-height: 50px;
    }

    #masthead {
        position: static;
    }
  
    nav {
        float: none;
        text-align: center;
        margin: auto;
    }
  
    h1 {
        font-size: 24px;
        padding-bottom: 0px;
    }
  
    h2, h3 {
          font-size: 20px;
    }
    
    body {
        font-size: 16px;
        line-height: 30px;
    }

    .main-section {
        width: 100%;
    }

    .sidebar {
        max-width: 100%;

    }

    #main-container {
      padding-top: 0px;
    }
  
    .profilepic {
        width: fit-content;
        height: fit-content;
    }
  
    .portfolio {
      float: none;
      width: 100%;
    }

    .thumbnail {
        position: relative;
        margin-bottom: 40px;
        cursor: pointer;
        transition: all .8s ease;
    }

    .thumbnail img {
        max-width: 100%;
        color: #3d3232f3;
    }

    .label {
        position: absolute;
        
    }
    
    .left {
        float: none;
    }
    
    .right {
        float: none;
    }

    #card {
        width: fit-content;
    }

  }
  